<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Third Component - Confirmation
    </ng-template>
    <div *ngIf="isSuccess == false; else completeSteps">
      <div>
        <div class="p-field p-col-12">
          <label for="class">Name</label>
          <b>{{finalStructure.finalStructure.personalInformationState.personalInformation.firstName? finalStructure.finalStructure.personalInformationState.personalInformation.firstName : '-'}}
            {{finalStructure.finalStructure.personalInformationState.personalInformation.lastName ? finalStructure.finalStructure.personalInformationState.personalInformation.lastName : '-'}}</b>
        </div>
        <div class="p-field p-col-12">
          <label for="Age">Age</label>
          <b>{{finalStructure.finalStructure.personalInformationState.personalInformation.age ? finalStructure.finalStructure.personalInformationState.personalInformation.age : '-'}}</b>
        </div>
        <div class="p-field p-col-12">
          <label for="Age">Email</label>
          <b>{{finalStructure.finalStructure.contactState.contact.email ? finalStructure.finalStructure.contactState.contact.email : '-'}}</b>
        </div>
        <div class="p-field p-col-12">
          <label for="Age">Phone</label>
          <b>{{finalStructure.finalStructure.contactState.contact.phone ? finalStructure.finalStructure.contactState.contact.phone : '-'}}</b>
        </div>
      </div>
      <div>
        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Cancel" (onClick)="cancel()"></p-button>
        <p-button label="Complete" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right"
          styleClass="p-button-success"></p-button>
      </div>
    </div>

    <ng-template #completeSteps>
      <div>
        Complete!!!
      </div>
    </ng-template>
  </p-card>
</div>
