<form [formGroup]="secondForm">
  <div class="stepsdemo-content">
    <p-card>
      <ng-template pTemplate="title">
        Second Component
      </ng-template>

      <ng-template pTemplate="content">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label for="class">Email</label>
            <input type="text" pInputText formControlName="email">
          </div>
          <div class="p-field p-col-12 p-md-6">
            <label for="wagon">Phone</label>
            <input type="text" pInputText formControlName="phone">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Cancel" (onClick)="cancel()"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </ng-template>
    </p-card>
  </div>
</form>
