<form [formGroup]="firstForm">
  <div class="stepsdemo-content">
    <p-card>
      <ng-template pTemplate="title">
        First Component
      </ng-template>

      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div class="p-field">
            <label for="firstname">Firstname</label>
            <input type="text" pInputText formControlName="firstName">
          </div>
          <div class="p-field">
            <label for="lastname">Lastname</label>
            <input type="text" pInputText formControlName="lastName">
          </div>
          <div class="p-field">
            <label for="age">Age</label>
            <input type="number" pInputText formControlName="age">
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button label="Cancel" (onClick)="cancel()"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </ng-template>
    </p-card>
  </div>
</form>
